{% extends "base.jinja2" %}
{%  block content %}
    <div class="form-size">
    <form action ="{{  url_for('users.create_user') }}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="username" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
            <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>




        <div class="form-group">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="permission" id="permission" autocomplete="off" value="1" checked> User
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="permission" id="permission" value="2" autocomplete="off"> Analyst
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="permission" id="permission" value="3" autocomplete="off"> Administrator
          </label>
        </div>
            <div class="form-group">
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="active" id="active" autocomplete="off" value="True" checked> Activated
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="active" id="active" value="False" autocomplete="off"> Deactivated
          </label>

        </div>
        </div>

        <button type="submit" class="btn btn-default">Create new</button>



    </form>
    </div>
{%  endblock %}