{% extends "base.jinja2" %}
{%  block content %}
    <div class="page-header">
    <h1>Edit User  '{{  user.username }}'</h1>
    </div>
    <p>User email <strong>{{  user.email }}</strong></p>


    <div class="panel panel-default">
    <div class="panel-body">

        {%  if user.active %}
        <a class="btn btn-warning" href="{{  url_for('users.deactivate_user', user_id=user._id) }}" role="button">Deactivate user</a>
        {% else %}
                <a class="btn btn-success" href="{{  url_for('users.activate_user', user_id=user._id) }}" role="button">Activate user</a>

        {% endif %}
    <a class="btn btn-danger" href="{{  url_for('users.delete_user', user_id=user._id) }}" role="button">Permanently delete user</a>
    <br>
    <br>
    <div class="btn-group" role="group" aria-label="Permission">
      <button type="button"  class="btn btn-{{  'success active' if  user.permission==1 else 'secondary' }} ">User</button>
      <button type="button" class="btn btn-{{  'success active' if  user.permission==2 else 'secondary' }}">Analyst</button>
      <button type="button" class="btn btn-{{  'success active' if  user.permission==3 else 'secondary' }} ">Administrator</button>
    </div>

    </div>
    </div>

{%  endblock %}