{% extends "base.jinja2" %}
{%  block content %}
    <div class="page-header">
    <h1>Profile Page:   '{{  user.username }}'</h1>
    </div>
    <p>User email <strong>{{  user.email }}</strong></p>


    <div class="panel panel-default">
    <div class="panel-body">


        <a class="btn btn-warning" href="{{  url_for('users.deactivate_account', user_id=current_user._id) }}" role="button">Deactivate user</a>



    </div>
    </div>

{%  endblock %}