{% extends "base.jinja2" %}
{%  block content %}
    <div class="page-header">
    <h1>Profile Page:   '{{  user.username }}'</h1>
    </div>
    <p>User email <strong>{{  user.email }}</strong></p>


    <div class="panel panel-default">
    <div class="panel-body">

        {%  if user.active %}
        <a class="btn btn-warning" href="{{  url_for('users.deactivate_account', user_id=user._id) }}" role="button">Deactivate user</a>
        {% else %}
                <a class="btn btn-success" href="{{  url_for('users.activate_account', user_id=user._id) }}" role="button">Activate user</a>

        {% endif %}


    </div>
    </div>

{%  endblock %}